body {
    margin: 0px;
    padding: 0px;
}
#wrap {
    width: 600px;
    margin: 0 auto;
}
#canvas {
    width: 100%;
}
svg {
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}
.canvas-container {
    padding-bottom: 40px;
}
.background-circle {
  mix-blend-mode: hard-light;
}
.tail {
  opacity: 1;
  /* mix-blend-mode: multiply; */
}
/* rect { */
/*   mix-blend-mode: multiply; */
/* } */
/* overlay, lighten, hard-light, soft-light */

/* normal | multiply | screen | overlay | darken | lighten | color-dodge |color-burn | hard-light | soft-light | difference | exclusion | hue |  */
/* saturation | color | luminosity */
