/* html, body { */
/*   height: 100%; */
/*   padding: 0; */
/*   margin: 0; */
/*   background-color: rgb(249,248,244); */
/* } */

canvas {
  background-color: rgb(249,248,244);
  margin-bottom: 17px;
  width: 500px;
  height: 500px;
}
canvas[resize] {
  width: 500px;
  height: 500px;
}
