<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/style.css")}}>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/verge@1.10.2/verge.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/1.2.1/chroma.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.6.0/js/md5.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900i|Open+Sans" rel="stylesheet">
        <link rel='stylesheet' href={{ url_for('static', filename='css/lib/mprogress.min.css') }}/>
        <script src={{ url_for('static', filename='js/lib/mprogress.min.js') }}></script>
	<script dtype="text/javascript" src={{ url_for('static', filename="js/lib/hsluv.min.js") }}></script>
	<script type="text/javascript" src={{ url_for('static', filename="js/svg_todataurl.js") }}></script>
	<script type="text/javascript" src={{ url_for('static', filename="js/perlin.js") }}></script>
	<script type="text/javascript" src={{ url_for('static', filename="js/utils.js") }}></script>
        <head>
            <link rel="stylesheet" type="text/css" href={{ url_for('static', filename="css/paper_style.css") }}>
            <script src={{ url_for('static', filename="js/paper/paper-full.min.js") }}></script>
            <script src={{ url_for('static', filename="js/paper/jquery.min.js") }}></script>
            <script src={{ url_for('static', filename="js/paper/underscore-min.js") }}></script>
            <script src={{ url_for('static', filename="js/paper/d3.min.js") }}></script>
            <script src={{ url_for('static', filename="js/paper/chroma.min.js") }}></script>
            {% block sketch_script %}<script type="text/javascript" src={{ url_for('static', filename="js/watercolor.js") }}></script>{% endblock %}
        </head>        
        <script defer>
         document.addEventListener('DOMContentLoaded', function() {
             window.onhashchange = regenerate;
             if (window.location.hash == "") {
                 window.location.hash = makeid(7);
             } else {
                 regenerate();
             }
         });
        </script>
    </head>
    <body>
	<div id="wrap">
            <div class="container">
                <div class="navigation"><a href="/"><i class="fas fa-arrow-left"></i> all sketches</a></div>
                <canvas id="canvas" hidpi="off"></canvas>
		<button onclick="window.location.hash = makeid(7)" class="button"><i class="fas fa-redo"></i> Regenerate</button>
		<button onclick="download_paper()" class="button"><i class="fas fa-arrow-down"></i> Download</button>
                <h2>{% block title %}{% endblock %}</h2>
                <div>
                    {% block byline %}
                    <p>By <a href="https://twitter.com/mstringer">@mstringer</a></p>
                    {% endblock %}
                </div>
                <div>{% block description %}{% endblock %}</div>
	    </div>
	</div>
    </body>
</html>
